<div class="container p-4">
    <div class="row">
        {{#each views}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">

                    <p class="m-2">NOMBRE: {{name}}</p>
                    <img src="{{img}}"></p>
                    <p class="m-2">HABILIDADES: {{abilities}}</p>
                    <p class="m-2">TIPO: {{types}}</p>

                    <a href="/Pokemon/delete/{{id}}" class="btn btn-danger">Borrar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-6 mx-auto">
            <div class="card card-body text-center">
                <div class="alert alert-danger" role="alert">
                    <b>No Hay Pokemones Guardados</b>
                </div>
                <a href="/Pokemon/Lista" class="btn btn-success">Guarda Pokemones!!!...</a>
            </div>
        </div>
        {{/each}}

    </div>
</div>